In [2]:
import pandas as pd

df = pd.read_csv('../data/raw/SampleSuperstore.csv', encoding='latin-1')
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

## Análisis de Valores Nulos

En esta sección vamos a identificar y examinar los valores nulos o faltantes en el dataset.

In [3]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## Verificación de Duplicados

En esta sección vamos a revisar y identificar registros duplicados en el conjunto de datos.

In [4]:
df.duplicated().sum()

np.int64(0)

## Renombrado de Columnas

En esta sección vamos a estandarizar los nombres de las columnas para mejorar la legibilidad y consistencia.

In [5]:
df.rename(columns={
    'Row ID': 'Row_ID',
    'Order ID': 'Order_ID',
    'Order Date': 'Order_Date',
    'Ship Date':'Ship_Date',
    'Ship Mode':'Ship_Mode',
    'Customer ID':'Customer_ID',
    'Customer Name':'Customer_Name',
    'Postal Code':'Postal_Code',
    'Product ID':'Product_Code',
    'Product Name':'Product_Name',
    'Sub-Category':'Sub_Category'
}, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9994 non-null   int64
 1   Order_ID       9994 non-null   object
 2   Order_Date     9994 non-null   object
 3   Ship_Date      9994 non-null   object
 4   Ship_Mode      9994 non-null   object
 5   Customer_ID    9994 non-null   object
 6   Customer_Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal_Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product_Code   9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub_Category   9994 non-null   object
 16  Product_Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

## Conversión de Tipo de Datos

En esta sección vamos a convertir las columnas `Order_Date` y `Ship_Date` de tipo object (texto) a tipo datetime (fecha).

In [6]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

df.head(1)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_Code,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136

# Exportación de Datos Limpios

En esta sección vamos a crear y guardar el nuevo archivo con los datos limpios y procesados.

In [ ]:
#df.to_csv('SuperStore_limpio.csv', index=False) 1862 1850 1884
products = df[['Product_Code','Product_Name']].drop_duplicates(subset=['Product_Code'], keep='first')

         Product_Code                                       Product_Name
0     FUR-BO-10001798                  Bush Somerset Collection Bookcase
1     FUR-CH-10000454  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2     OFF-LA-10000240  Self-Adhesive Address Labels for Typewriters b...
3     FUR-TA-10000577      Bretford CR4500 Series Slim Rectangular Table
4     OFF-ST-10000760                     Eldon Fold 'N Roll Cart System
...               ...                                                ...
9521  TEC-PH-10002817                    RCA ViSYS 25425RE1 Corded phone
9562  TEC-MA-10003589                       Cisco 8961 IP Phone Charcoal
9604  OFF-AP-10003099                        Eureka Hand Vacuum, Bagless
9673  TEC-PH-10002645                                              LG G2
9935  OFF-ST-10001627  Eldon Jumbo ProFile Portable File Boxes Graphi...

[1862 rows x 2 columns]